<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Отзывы</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<body>
<header th:insert="blocks/header :: header"/>

<div class="container mt-5 mb-5">
    <h1>Добавление отзыва</h1>
    <form action="/mainreviews/add" method="post">
        <input type="text" name="title" placeholder="Введите ваше имя" class="form-control"><br>
        <input type="text" name="anons" placeholder="Оцените проделанную работу" class="form-control"><br>
        <textarea type="text" name="full_text" placeholder="Введите полный отзыв" class="form-control"></textarea><br>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <button type="submit" class="btn btn-success">Добавить отзыв</button>
    </form>

</div>

<div th:insert="blocks/footer :: footer"/>
</body>
</html>